/* src/components/ReceivedEmails.css */

.received-emails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f1e1; /* 부드러운 크림색 배경 */
    color: #3e2723; /* 어두운 브라운 텍스트 */
  }
  
  h2 {
    margin-bottom: 20px;
    color: #d7ccc8; /* 밝은 브라운 */
  }
  
  .email-list {
    width: 80%;
    max-width: 600px;
    background-color: #5d4037; /* 중간 브라운 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .email-item {
    padding: 10px;
    border-bottom: 1px solid #d7ccc8; /* 밝은 브라운 구분선 */
  }
  
  .email-item:last-child {
    border-bottom: none;
  }
  
  .email-item:hover {
    background-color: #3e2723; /* 어두운 브라운 */
    color: #fff;
  }
  